# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/

# production
dist/

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# database (sqlite dev database)
prisma/*.db
prisma/*.db-journal
prisma/dev.db*

# typescript
*.tsbuildinfo
next-env.d.ts

# editor
.vscode/
.idea/

# exports
/tmp
/exports
